@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Span */

.span {
    font-weight: 700;
}

/* Barra de navegación (sin responsive) */

.nav {
    position: fixed;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    background-color: white;
    z-index: 1030;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12rem;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav__logo {
    display: inline-block;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item {
    margin: 0.5rem 0.6rem;
}

/* Banner */

.banner {
    width: 100%;
    height: 700px;
    background-image: url(https://cdn.pixabay.com/photo/2015/04/20/13/17/work-731198_1280.jpg);
    background-size: cover;
    color: white;
    padding-top: 6.2rem;
}

.banner__container {    
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10rem;
    padding-top: 4rem;
}

.banner__title {
    font-size: 3.5rem;
    font-weight: 400;
}

.banner__text {
    font-size: 1.2rem;
    text-align: center;
}

.banner__btn {
    background-color: white;
    border-radius: 2px;
    padding: 1.2rem;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
}

.banner__btn:hover {
    background-color: lightgray;
}

/* Productos */

.products {
    padding: 120px 0;
}

.products__head {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20rem;
    padding-bottom: 3rem;
}

.products__title {
    font-size: 40px;
    font-weight: 500;
}

.products__text {
    font-size: 1.3rem;
    color: rgb(165, 165, 165);
}

.products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.products__item {
    height: 500px;
    border-radius: 5px;
    object-fit: fill;
}

.item-1 {
    background-image: url(https://cdn.pixabay.com/photo/2017/09/02/13/21/guggenheim-museum-2707258_1280.jpg);
}

.item-2 {
    background-image: url(https://cdn.pixabay.com/photo/2020/01/21/11/39/running-4782722_1280.jpg);
}

.item-3 {
    background-image: url(https://cdn.pixabay.com/photo/2020/10/17/14/25/river-5662293_1280.jpg);
}

.item-4 {
    background-image: url(https://cdn.pixabay.com/photo/2020/10/17/11/55/elephants-5661842_1280.jpg);
}


